
{%extends '../base.html'%}
{% load custom_filters %}
{%block title%} Bienvenido- OnlyFlans {%endblock%}


{%block content%}
    <div class="container text-light">

      {% for flan in flanes %}
      {% if forloop.counter0|divisibleby:3 %}
          <div class="row pt-5">    
      {% endif %}
      
      <div class="col-12 col-xs-12 col-md-4 col-lg-4 col-sm-4">
          <div class="card bg-dark">
              <img src="{{ flan.image_url }}" class="card-img-top" alt="card-img-top">
              <div class="card-header">
                  {{ flan.name }}
              </div>
              <div class="card-body">
                  <h5 class="card-title">Descripción:</h5>
                  <p class="card-text">{{ flan.descripcion }}</p>
                  <p class="card-text">{{ flan.price | currency_format }}</p>
                  <a href="{% url 'add_to_cart' flan.id %}" class="btn btn-primary">Agregar</a>
              </div>
          </div>
      </div>

      {% if forloop.counter|divisibleby:3 or forloop.last %}
          </div> 
      {% endif %}
  {% endfor %}





    </div>
    

{%endblock%}